:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.container {
  padding: 20px;
}

.card {
  padding: 30px;
}
img {
  margin-top: 1em;
  margin-bottom: 2em;
}

body,
.btn {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

.btn {
  background-color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px;
}

h3 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 3em;
}

p {
  margin-bottom: 3em;
}
h3,
p {
  color: #fff;
}

.bright-orange {
  background-color: var(--bright-orange);
  border-radius: 10px 10px 0 0;
}

.bright-orange .btn {
  color: var(--bright-orange);
}

.dark-cyan {
  background-color: var(--dark-cyan);
}
.dark-cyan .btn {
  color: var(--dark-cyan);
}

.very-dark-cyan {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 10px 10px;
}

.very-dark-cyan .btn {
  color: var(--very-dark-cyan);
}

@media (min-width: 808px) {
  .container {
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    max-width: 900px;
    margin: auto;
  }
  .bright-orange {
    border-radius: 10px 0 0 10px;
  }

  .very-dark-cyan {
    border-radius: 0 10px 10px 0;
  }
}
